<?xml version="1.0"?>
<launch>

	<arg name="scitos_node_args" default="-k127.0.0.1:1234"/>

	<!-- ROS-MIRA communication -->
	<include file="$(find scitos_mira)/launch/scitos_mira.launch">
		<arg name="scitos_node_args" value="$(arg scitos_node_args)"/>
	</include>
	
	<!-- include ROS_MIRA communication module to brush cleaner -->
	<include file="$(find baker_brush_cleaning_module_interface)/launch/brush_cleaning_module_interface.launch"/>
	

	<!-- map management system -->
	<node ns="baker" pkg="baker_wet_cleaning_application" type="map_management_client" name="map_management_client" output="screen" respawn="true" respawn_delay="2">
		<remap from="map" to="/map"/>
	</node>

	<!-- include room exploration -->
	<include file="$(find ipa_room_exploration)/ros/launch/room_exploration_action_server.launch"/>
	
	<!-- include coverage monitor -->
	<include file="$(find ipa_room_exploration)/ros/launch/coverage_monitor_server.launch"/>

	<!-- include room segmentation -->
	<include file="$(find ipa_room_segmentation)/ros/launch/room_segmentation_action_server.launch"/>

	<!-- include room sequence planning -->
	<include file="$(find ipa_building_navigation)/ros/launch/room_sequence_planning_action_server.launch"/>

</launch>
