<?xml version="1.0"?>
<launch>

	<arg name="colored_point_cloud_topic" default="/camera/depth_registered/points"/>

	<!-- dirt detection software -->
	<node pkg="ipa_dirt_detection" ns="dirt_detection_server_preprocessing" type="dirt_detection_server_preprocessing" name="dirt_detection_server_preprocessing" output="screen">	<!-- ns=namespace (arbitrary), type=name of executable, name=node name (arbitrary) -->
		<rosparam command="load" file="$(find ipa_dirt_detection)/ros/launch/dirt_detection_server_preprocessing_params.yaml"/>
		
		<remap from="colored_point_cloud" to="$(arg colored_point_cloud_topic)"/> <!-- depth_registered -->
		
		<!-- if not an empty string, this enables using a mask that defines areas in the map where dirt detections are valid (i.e. this mask can be used to exclude areas from dirt mapping, white=detection area, black=do not detect) -->
		<!-- param name="dirtMappingMaskFilename" value="$(find ipa_dirt_detection)/common/files/map_masks/" /-->
	</node>

	<node pkg="ipa_dirt_detection" ns="dirt_detection_server_spectral" type="dirt_detection_server_spectral" name="dirt_detection_server_spectral" output="screen" >
		<rosparam command="load" file="$(find ipa_dirt_detection)/ros/launch/dirt_detection_server_spectral_params.yaml"/>
	</node>

</launch>
